<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/changePassword.css">
</head>

<body>
    <div class="container">
        <div class="changePasswordContainer">
            <a id="back-link" class="backswitch" href="/">HOME</a>
            <h3 class="auth-title">Change Password</h3>
            <% if (errors && errors.length> 0) { %>
                <div class="errors">
                    <% errors.forEach(error=> { %>
                        <p>
                            <%= error.msg %>
                        </p>
                        <% }) %>
                </div>
                <% } %>
                    <form class="auth-form" action="/auth/change-password" method="POST">
                        <div class="form-group">
                            <label class="form-label" for="currentPassword">Current Password</label>
                            <input class="form-input" type="password" name="currentPassword" id="currentPassword"
                                required placeholder="********">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="newPassword">New Password</label>
                            <input class="form-input" type="password" name="newPassword" id="newPassword" required
                                placeholder="********">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="confirmPassword">Confirm New Password</label>
                            <input class="form-input" type="password" name="confirmPassword" id="confirmPassword"
                                required placeholder="********">
                        </div>
                        <button class="auth-button" type="submit">Change Password</button>
                    </form>
        </div>
    </div>
</body>

</html>