<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/resetPassword.css">
</head>

<body class="dark-theme">
    <div class="container">
        <a id="home-link" class="back-switch" href="/">HOME</a>
        <h3 class="auth-title">Reset Password</h3>
        <form action="/auth/reset-password" method="POST" class="auth-form">
            <div class="form-group">
                <label for="password" class="form-label">New Password:</label>
                <input type="password" id="password" name="password" class="form-input" required placeholder="********">
            </div>
            <div class="form-group">
                <label for="password2" class="form-label">Confirm Password:</label>
                <input type="password" id="password2" name="password2" class="form-input" required
                    placeholder="********">
            </div>
            <button type="submit" class="auth-button">Reset Password</button>
        </form>
        <% if (error) { %>
            <p class="error-message">
                <%= error %>
            </p>
            <% } %>
                <% if (success) { %>
                    <p class="success-message">
                        <%= success %>
                    </p>
                    <% } %>
    </div>
</body>

</html>